In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_excel('covid_toy.xlsx')

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [8]:
X_train

    age  gender  fever   cough       city
77    8  Female  101.0    Mild    Kolkata
97   20  Female  101.0    Mild  Bangalore
2    42    Male  101.0    Mild      Delhi
32   34  Female  101.0  Strong      Delhi
69   73  Female  103.0    Mild      Delhi
54   60  Female   99.0    Mild     Mumbai
93   27    Male  100.0    Mild    Kolkata
75    5    Male  102.0    Mild    Kolkata
81   65    Male   99.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
43   22  Female   99.0    Mild  Bangalore
38   49  Female  101.0    Mild      Delhi
24   13  Female  100.0  Strong    Kolkata
25   23    Male    NaN    Mild     Mumbai
13   64    Male  102.0    Mild  Bangalore
78   11    Male  100.0    Mild  Bangalore
67   65    Male   99.0    Mild  Bangalore
62   56  Female  104.0  Strong  Bangalore
47   18  Female  104.0    Mild  Bangalore
48   66    Male   99.0  Strong  Bangalore
0    60    Male  103.0    Mild    Kolkata
79   48  Female  103.0    Mild    Kolkata
85   16  Female  103.0    Mild  Bangalore
11   65  Female   98.0    Mild     Mumbai
53   83    Male   98.0    Mild      Delhi
71   75  Female  104.0  Strong      Delhi
45   72    Male   99.0    Mild  Bangalore
39   50  Female  103.0    Mild    Kolkata
56   71    Male    NaN  Strong    Kolkata
64   42    Male  104.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
90   59  Female   99.0  Strong      Delhi
76   80    Male  100.0    Mild  Bangalore
66   51    Male  104.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
87   47    Male  101.0  Strong  Bangalore
74   34  Female  104.0  Strong      Delhi
7    20  Female    NaN  Strong     Mumbai
57   49  Female   99.0  Strong  Bangalore
73   34    Male   98.0  Strong    Kolkata
68   54  Female  104.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata
37   55    Male  100.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
80   14  Female   99.0    Mild     Mumbai
83   17  Female  104.0    Mild    Kolkata
23   80  Female   98.0    Mild      Delhi
14   51    Male  104.0    Mild  Bangalore
10   75  Female    NaN    Mild      Delhi
35   82  Female  102.0  Strong  Bangalore
84   69  Female   98.0  Strong     Mumbai
44   20    Male  102.0  Strong      Delhi
88    5  Female  100.0    Mild    Kolkata
20   12    Male   98.0  Strong  Bangalore
92   82  Female  102.0  Strong    Kolkata
49   44    Male  104.0    Mild     Mumbai
17   40  Female   98.0  Strong      Delhi
9    64  Female  101.0    Mild      Delhi
34   74    Male  102.0    Mild     Mumbai
15   70    Male  103.0  Strong    Kolkata
27   33  Female  102.0  Strong      Delhi

[80 rows x 5 columns]

In [9]:
# 1. Aam Zindagi

In [10]:
# adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])
                                 
X_train_fever.shape

(80, 1)

In [11]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [12]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [13]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [14]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)

In [15]:
# Mentos Zindagi

In [16]:
from sklearn.compose import ColumnTransformer

In [17]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [18]:
transformer.fit_transform(X_train).shape

(80, 7)

In [19]:
transformer.transform(X_test).shape

(20, 7)